
server {
	host		127.0.0.1;
	listen		8080;
	server_name	test.com meow;
	root		/Users/agidget/www;

	error_page 404	https://http.cat/200;

	client_max_body_size	10485760;

	location / [
		allowed_methods	GET POST;
		index			cat.jpeg;
		autoindex		off;
		enable_upload	on;
		upload_route	/downloads;
		return 301		https://bit.ly/3HeLxts;
	]

	location /.php [
		allowed_methods	GET POST;
		index			cat.jpeg;
	]	
}

server {
	host		127.0.0.1;
	listen		8080;
	server_name	test.com meow;
	root		/Users/agidget/www;

	location /.php [
		allowed_methods	GET POST;
		index			cat.jpeg;
	]
}